@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Carousel" />

<h2 class="text-center">Student Rank Platinum</h2>
<div class="row ">
    @foreach (var student in Model.StudentRankPlatinum)
    {
        <partial name="_StudentCard" model="student" />
    }
</div>